

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }


  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #00FFFF;
    font-size: 22px;
    font-weight: 600;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }
  a {
    color: #2c3e50;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #007bff;
  }

  .circle-link {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    margin: 8px;
    background-color: white;
    border: 1px solid #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 1s ease-out;
  }

  .circle-link:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    float: right;
  }

  .checkout-tab {
    display: flex;
    float: right;
  }
  
</style>


<div class="toolbar" role="banner">
  <div class="spacer"></div>
    <a class="services-tab" routerLink="/catering" >
      Catering
    </a>
  <div class="spacer"></div>
    <a class="checkout-tab" routerLink="/checkout">
      Koszyk
    </a>
  <div class="spacer"></div>

</div>


<div class="content" role="main">
  <img 
    alt="My image name"
    src="./assets/img/brand_logo.jpg"
    width="140" 
  >

  <h1>Catering </h1>

  <div id="app">
    <div class="main-page"></div>

    <h2>
      Przykładamy ogromną wagę do tego, by oferowane przez nas potrawy odpowiadał wymaganiom i zaleceniom dietetycznym wszystkich Państwa pracowników, klientów i gości. Dlatego serwujemy nie tylko klasyczne, tradycyjne potrawy, oferujemy również dania odpowiednie dla osób stosujących dietę wegetariańską czy z różnymi nietolerancjami/alergiami pokarmowymi. Zawsze staramy się konstruować menu w taki sposób, by każdy mógł wybrać danie odpowiadające jego potrzebom.    
    </h2>

  </div>

  <footer>

  </footer>


</div>

<router-outlet></router-outlet>


